<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Computer Self-learning</h3>
                <div class="time">2019.06 - Present</div>
            </div>
            <!--//upper-row-->
            <div class="company">Squat At Home</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Dissatisfied with slow-paced work after graduation, resigns to prepare for postgraduate entrance
                examination.</p>
            <p>So far, I have learned about C, C++, Python, Data Structures, and Computer Network. I am currently
                improving my
                algorithms and intend to move towards Machine Learning.</p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Pharmaceutical QC</h3>
                <div class="time">2019.02 - 2019.06</div>
            </div>
            <!--//upper-row-->
            <div class="company">HangZhou</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Participate in drug testing and assist in the cultivation of Cordyceps sinensis in the laboratory.</p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Mechanical Drawing Intern</h3>
                <div class="time">2018.06 - 2018.12</div>
            </div>
            <!--//upper-row-->
            <div class="company">Changsha</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Participated in the project flow chart, equipment list, plant floor plan design and modification, as well
                as the
                selection and translation of some GMP materials.Proficiency in Autocad.</p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->



</section>
<!--//section-->